@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* All text elements */
html, body {
    font-family: 'Fira Code', monospace;
    color:white;
}

body {
    background:black;
}

section {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 1rem;
}

pre {
    line-height:1em;
}


/* class definitions */
.special-border {
    border: 5px outset #ff002d;
    outline: 5px solid greenyellow;
    box-shadow: blue 0px 0px 0px 10px;
    border-radius: 5px;
    padding: 1rem;
}

.glowing {
    animation: glow 3s ease-in-out infinite;
}

/* outline fades in and out, golden solid 2px */
@keyframes glow {
    0% {
        outline: 2px solid rgba(255, 217, 0, 0.33);
    }
    50% {
        outline: 2px solid gold;
    }
    100% {
        outline: 2px solid rgba(255, 217, 0, 0.33);
    }
}